<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Standards Admin App</title>
    <style  type="text/css">
      .hierarchy {
        position:          relative;
      }
      .hierarchy.cursor > .view {
        background-color:  #383;
      }
      .hierarchy .view {
        background-color:  #8d5;
        margin:            1em;
        padding:           0.5em;
        color:             #fff;
        width:             10em;
        height:            1.25em;
        overflow:          visible;
      }
      .hierarchy .subhierarchies {
        padding-left:      2em;
      }
    </style>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/structure.js" charset="utf-8"></script>
    </script>
  </head>
  <body>
    <h1>Standards and Hierarchy</h1>
  </body>
</html>
