<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Standards Admin App</title>
    <style  type="text/css">
      .hierarchy {
        position:         relative;
      }
      .hierarchy.selected > .background {
        border: 3px solid #383;
        color:  #383;
      }
      .hierarchy .background {
        background-color: #8d5;
        width:            10em;
        margin:           1em;
        padding:          0.5em;
        color:            #fff;
      }
      .hierarchy .subhierarchies {
        padding-left:     2em;
      }
    </style>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/structure.js" charset="utf-8"></script>
    </script>
  </head>
  <body>
    <h1>Standards and Hierarchy</h1>
  </body>
</html>
